.main {
    width: 100%;
    height: 100vh;
}

.div1 {
    height: 300px;
    width: 300px;
    background-color: grey;
    display: flex;
    margin-left: auto;
}

.div2 {
    height: 150px;
    width: 150px;
    background-color: black;
    align-self: end;
}