.div1 {
    height: 300px;
    width: 300px;
    background-color: grey;
    color: white;
    margin: auto;
    display: flex;
}

.div2 {
    height: 150px;
    width: 150px;
    background-color: black;
    color: white;
    margin: auto;
}