.div1 {
    height: 500px;
    width: 250px;
    background-color: grey;
    display: flex;
}

.div2 {
    height: 250px;
    width: 200px;
    background-color: black;
    margin-left: auto;
    align-self: flex-end;
    justify-content: space-around;
    display: flex;
}

.div3 {
    height: 150px;
    width: 150px;
    background-color: wheat;
    margin-left: auto;
    margin-bottom: 10px;
    margin-right: 10px;
    align-self: end;
}