.main {
    display: flex;
}

.div1 {
    height: 150px;
    width: 150px;
    background-color: black;
    color: white;
    margin: 10px;
    margin-right: auto;
}

.div2 {
    height: 150px;
    width: 150px;
    background-color: black;
    color: white;
    margin: 10px;
}

.div3 {
    height: 150px;
    width: 150px;
    background-color: black;
    color: white;
    margin: 10px;
}