.div1 {
    height: 500px;
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: grey;
}

.div2 {
    height: 150px;
    width: 150px;
    background-color: black;
    color: white;
    align-self: center;
}

.div3 {
    height: 150px;
    width: 150px;
    background-color: black;
    color: white;
    align-self: center;
    margin-top: auto;
}