.main {
    display: flex;
    width: 100%;
    height: 900px;
    background-color: white;
}

.div1 {
    width: 150px;
    height: 150px;
    background: black;
    display: flex;
    color: white;
}

.div2 {
    width: 150px;
    height: 150px;
    background: black;
    color: white;
    margin: auto;
}

.div3 {
    width: 150px;
    height: 150px;
    background: black;
    color: white;
    align-self: flex-end;
}