.div1 {
    height: 150px;
    width: 150px;
    background-color: black;
}

.div2 {
    height: 150px;
    width: 150px;
    background-color: grey;
    position: relative;
    top: 70px;
    left: 70px;
}