    .main {
        display: flex;
        width: 100%;
        height: 100vh;
    }
    
    .div1 {
        height: 250px;
        width: 500px;
        background-color: grey;
        display: flex;
        margin-left: auto;
        align-self: end;
    }
    
    .div2 {
        height: 150px;
        width: 150px;
        background-color: black;
        align-self: flex-end;
    }
    
    .div3 {
        height: 150px;
        width: 150px;
        background-color: black;
        margin-left: auto;
    }