.main {
    display: flex;
}

.box1 {
    display: flex;
    flex-direction: column;
}

.box2 {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.div1 {
    height: 300px;
    width: 300px;
    background-color: grey;
}

.div2 {
    height: 150px;
    width: 150px;
    background-color: black;
    margin-top: 80px;
}

.div3 {
    height: 150px;
    width: 150px;
    background-color: black;
    align-self: flex-end;
}

.div4 {
    height: 300px;
    width: 300px;
    background-color: grey;
    margin-top: 80px;
}