.div1 {
    height: 500px;
    width: 300px;
    background-color: grey;
    display: flex;
}

.div2 {
    height: 250px;
    width: 250px;
    background-color: black;
    align-self: flex-end;
    position: relative;
    left: 210px;
}

.div3 {
    height: 200px;
    width: 200px;
    background-color: rgb(51, 50, 49);
    position: relative;
    top: 350px
}