.div1 {
    height: 250px;
    width: 500px;
    display: flex;
    background-color: grey;
    margin: auto;
}

.div2 {
    height: 150px;
    width: 150px;
    background-color: black;
    margin: auto;
    color: white;
}

.div3 {
    height: 150px;
    width: 150px;
    background-color: black;
    color: white;
    margin: auto;
}