.div1 {
    height: 300px;
    width: 300px;
    background-color: grey;
    display: flex;
}

.div2 {
    height: 150px;
    width: 150px;
    background-color: black;
    margin-left: auto;
    align-self: end;
}